<div class='page-header'>
  <h1>Slugging Percentage Search</h1>
  <p>
    Below you will find the results of your search for the list of
    players and slugging percentages for the team <strong><%= @team %>
    </strong> during the year of <strong><%= @year %></strong>. The
    results are sorted from highest to lowest.
  </p>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Player Name</th>
      <th>Slugging Percentage</th>
      
    </tr>
  </thead>
  <tbody>
    <% @stats.each do |stat| %>
      <tr>
        <td><%= stat.player_id %></td>
        <td><%= player_name(stat.player_id) %></td>
        <td><%= number_to_percentage(stat.slugging_percent * 100, precision: 1) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<div class='form-actions'>
  <%= link_to 'Return to Search', search_index_url, class: 'btn btn-primary' %>
</div>
