<%- model_class = BattingStatistic -%>
<div class="page-header">
  <h1>Batting Statistics</h1>  
  
  <div class="row-fluid">
    <div class="span8">
  
      <p>
        The list of batting statistics currently loaded in the system are
        shown in the table below. There are currently <strong>
        <%= BattingStatistic.count %></strong> batting statistic records
        loaded into the system.
      </p>
      <p>
        You can upload a new set of statistics into the system using the
        upload form below. <em>Please be aware that uploading a new
        set of statistics will replace the current set.</em>  The file 
        format is expected to be in CSV format. The expected columns 
        and their order are shown to the right.
      </p>
      <br/>
      
      <!-- Upload form --------------------------------------------- -->
      <div class='pull-left' id="import">
        <%= form_tag import_batting_statistics_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
        <% end %>
      </div>  
    </div>
    
    <div class="well span3">
      <ol>
        <li>playerID</li>
        <li>yearID</li>
        <li>teamID</li>
        <li>G - games played</li>
        <li>AB - at batts</li>
        <li>R - runs scored</li>
        <li>H - hits</li>
        <li>2B - doubles</li>
        <li>3B - triples</li>
        <li>HR - home runs</li>
        <li>RBI - runs batted in</li>
        <li>SB - stolen bases</li>
        <li>CS - caught stealing</li>
      </ul>
    </div>
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Player ID</th>
      <th>Year</th>
      <th>Team</th>
      <th>Games Played</th>
      <th>At Bats</th>
      <th>Runs Scored</th>
      <th>Hits</th>
      <th>Doubles</th>
      <th>Triples</th>
      <th>Home Runs</th>
      <th>RBI</th>
      <th>Stolen Bases</th>
      <th>Caught Stealing</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @batting_statistics.each do |batting_statistic| %>
      <tr>
        <td><%= link_to batting_statistic.player_id, batting_statistic_path(batting_statistic) %></td>
        <td><%= batting_statistic.year %></td>
        <td><%= batting_statistic.team %></td>
        <td><%= batting_statistic.games_played %></td>
        <td><%= batting_statistic.at_bats %></td>
        <td><%= batting_statistic.runs_scored %></td>
        <td><%= batting_statistic.hits %></td>
        <td><%= batting_statistic.doubles %></td>
        <td><%= batting_statistic.triples %></td>
        <td><%= batting_statistic.home_runs %></td>
        <td><%= batting_statistic.runs_batted_in %></td>
        <td><%= batting_statistic.stolen_bases %></td>
        <td><%= batting_statistic.caught_stealing %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_batting_statistic_path(batting_statistic), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      batting_statistic_path(batting_statistic),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class='digg_pagination'>
  <%= will_paginate @batting_statisticss %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_batting_statistic_path,
            :class => 'btn btn-primary' %>
