<%= render partial: 'shared/validation_errors' %>

<%= form_for @fantasy_point, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <label class='control-label'>Home Runs</label>
    <div class="controls">
      <%= f.text_field :home_run, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <label class='control-label'>RBI's</label>
    <div class="controls">
      <%= f.text_field :rbi, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <label class='control-label'>Stolen Bases</label>
    <div class="controls">
      <%= f.text_field :stolen_base, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <label class='control-label'>Caught Stealing</label>
    <div class="controls">
      <%= f.text_field :caught_stealing, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                fantasy_points_path, :class => 'btn' %>
  </div>
<% end %>
