<%- model_class = FantasyPoint -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:home_run) %>:</strong></dt>
  <dd><%= @fantasy_point.home_run %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rbi) %>:</strong></dt>
  <dd><%= @fantasy_point.rbi %></dd>
  <dt><strong><%= model_class.human_attribute_name(:stolen_base) %>:</strong></dt>
  <dd><%= @fantasy_point.stolen_base %></dd>
  <dt><strong><%= model_class.human_attribute_name(:caught_stealing) %>:</strong></dt>
  <dd><%= @fantasy_point.caught_stealing %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              fantasy_points_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_fantasy_point_path(@fantasy_point), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              fantasy_point_path(@fantasy_point),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
